/* ========================== SLICK SLIDER ======================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  transform: translate3d(0px, 0px, 0px) !important; }

.slick-track:before {
  display: table;
  content: ""; }

.slick-track:after {
  display: table;
  content: "";
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  max-width: 100%;
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-slide:focus {
  outline: none;
  box-shadow: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

/* 5. CONTENT */
/* ================================================ */
.slider__wrap {
  width: 100%;
  max-width: 734px; }
  .slider__wrap .slider {
    width: 100%;
    max-width: 734px; }
    .slider__wrap .slider .slider__item {
      width: inherit;
      max-height: 470px; }
      .slider__wrap .slider .slider__item img {
        width: 100%;
        max-width: 100%;
        max-height: inherit;
        border-radius: 13px 13px 0 0; }
  .slider__wrap .slider-nav {
    display: block;
    max-width: 734px;
    height: 121px;
    padding-top: 3px; }
    .slider__wrap .slider-nav img {
      height: 121px;
      opacity: 0.7;
      cursor: pointer; }
    .slider__wrap .slider-nav img:hover {
      opacity: 1; }
    .slider__wrap .slider-nav .first-child img {
      border-radius: 0 0 0 13px; }
    .slider__wrap .slider-nav .last-child img {
      border-radius: 0 0  13px 0;
      width: 184px; }
    .slider__wrap .slider-nav :nth-child(2) img {
      width: 184px; }
    .slider__wrap .slider-nav :nth-child(3) img {
      width: 184px; }

.slick-next,
.slick-prev {
  width: 50px;
  height: 50px;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  border: none;
  background: rgba(255, 255, 255, 0.5) url("../foto/arrow.png") no-repeat center;
  -webkit-background-size: 18px auto;
  background-size: 18px auto;
  cursor: pointer; }

.slick-next:hover,
.slick-prev:hover {
  background-color: rgba(255, 255, 255, 0.8); }

.slick-prev {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

@media screen and (max-width: 1165px) {
  .slider__wrap {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media screen and (max-width: 765px) {
  .slider__wrap {
    border-radius: 0px; }
    .slider__wrap .slider {
      width: 100%;
      max-width: 100%; }
      .slider__wrap .slider .slider__item img {
        border-radius: 0 0 0 0; }
    .slider__wrap .slider-nav {
      display: none; } }

/*# sourceMappingURL=slider.css.map */
